echo "node_modules/" > frontend/.gitignore
# echo "package-lock.json" >> frontend/.gitignore
echo "public/" >> frontend/.gitignore
echo "*.log" >> frontend/.gitignore
echo ".env*" >> frontend/.gitignore
