cd D:\project\SAR_IMAGE\backend
echo "# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.rgbImages
.sarImages
.env
.DS_Store

npm-debug.log*" > .gitignore
